body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.responsive {
  position:relative;
  margin:0; padding:0;
}

#container {
  width: 750px;
  margin: 0 auto;
}

header {
  margin-bottom:10px;
}

#headline {
  padding-top: 40px;
}

#contacts ul, #links ul {
  list-style:none;
  color:#9e9e9e;
  margin:0;
  padding:0;
}
#contacts ul li, #links ul li {
  display:inline;
}
.navbar {
  margin-bottom:0;
}



header .title {
  font-size: 100px;
  font-weight:900;
  height:50px;
}

header .quote {
  padding:10px;
  line-height:1.2em;
  font-style:italic;
}

.nav li {
  font-weight: 900;
  font-size:24px;
}
.navbar .nav > li > a {
  color:#9e9e9e;
}
.navbar .nav > li > a i{
  position:relative;
  top:8px;
  opacity:0.7;
}  
.navbar .nav > li > a:hover i {
 opacity:1; 
}

.navbar-inner {
  background:none;
  border:none;
  padding: 0px;
  box-shadow: none;
  margin:none;
}

.nav .active {
  font-style: oblique;
  background-color:none;
}

h1 {
  font-weight: 900;
  font-size:40px;
  margin:0;
}
h2 {
  font-size:28px;
}
h3 {
  font-size:22px;
}
h4 {
  font-size:16px;
}
h5 {
  font-size:12px;
}


hr {
  color: black;
  height:10px;
  background-color: black;
  margin-top:0px;
}

#breaker {
  color:#222;
  background-color: #222;
  isibility:hidden;
}

section {

}
pre {
  border-radius:0;
}

.about .quote {
  margin-bottom:10px;
}
/* tag_box --------------------------------------- */
.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 2px 4px;
  margin: 2px;
  background: whitesmoke;
  color:#999;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}



h3.author {
  color:#6BC775;
  margin:0;
  margin-bottom:10px;
}

date {
  font-weight:normal;
  color:#555;
}

#post-meta {
}
#post-meta h4{
  margin:0;
  margin-bottom:5px;
  color:#888;
}
#post-meta li.header {
  color:#888;
}

#post-meta ul, #post-meta ul li { 
  list-style:none;
}
#post-meta ul li {
  display:inline;
}


#action-samples {
  list-style:none;
  margin:0;
  padding:0;
}

#action-samples li{
  color:#777;
  display:inline;
  line-height:48px;
  font-size:32px;
}
#action-samples li:hover{
  color:#333;
}

header .quote {
  clear:both;
}

/* MEDIA QUERIES 
  -----------------------------------------------------------------
 */

 
@media (max-width: 800px) {
  body {
    padding:0 2%;
  }

  #container {
    width:auto;
  }
  #contacts ul li{ 
    margin-right:20px;
  }
} 


@media (min-width: 1100px) {
  body {
    padding-top:40px;
  }
  header .quote {
    clear:none;
    float:right;
  }
  .metadata {
    width:170px;
    position:absolute;
  }
  .responsive .metadata .right {
    right:-200px;
  }
  .responsive .metadata .left {
    right:-200px;
  }

  #links {
    top:20px; left:-220px;
  }
  #links ul li{
    display:block;
    text-align:right;
  }
  
  #contacts {
    top:20px; right:-220px;
  }
  #contacts ul li{
    display:block;
  }

  #post-meta {
    top:20px; left:-220px;
  }
  #post-meta > * {
    text-align:right;
  }
  
  #post-meta ul li {
    display:block;
  }
  
  
  #action-samples { 
    top:20px; right:-220px;
  }  
  #action-samples li{
    display:block;
  }
  
}

