body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

#container {
	width: 960px;
	margin: 0 auto;
}

header {
	padding-top:40px;
}

#headline {
	padding-top: 60px;
}

#contacts {
	padding-top:40px;
}

header .title {
	font-size: 100px;
	font-weight:900;
	height:50px;
	padding-top:30px;
}

header .quote {
	padding:10px;
	max-width:300px;
}

header .contact {
	padding:10px;
}

.nav li {
	font-weight: 900;
	font-size:24px;
}

.navbar-inner {
	background:none;
	border:none;
	padding: 0px;
	box-shadow: none;
	margin:none;
}

.nav .active {
	font-style: oblique;
	background-color:none;
}

h1 {
	font-weight: 900;
	font-size:40px;
}

hr {
	color: black;
	height:10px;
	background-color: black;
	margin-top:0px;
}

section {
	margin-top:40px;
}