<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Default font from Google Web Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

  {{{ assets }}}
</head>

<body>
  <div id="container">
    <!-- header used for all pages -->
    <header>
      <div>
        
        <div class="responsive">
          <div id="contacts" class="metadata">
            <ul>
              <li><i class="icon-github"></i> Github</li>
              <li><i class="icon-twitter"></i> Twitter</li>
              <li><i class="icon-sign-blank"></i> Mail</li>
              <li><i class="icon-google-plus"></i> G+</li>
            </ul>
          </div>
        </div>
        
        <div class="row" style="margin-bottom:40px;">
          <div id="headline" class="span4">
            <div class="title">Ruhoh</div>
          </div>

          <div class="quote" style="width:400px; margin-top:30px;">
            font-family: 'Source Sans Pro', sans-serif; font-family: 'Source Sans Pro', sans-serif; font-family: 'Source Sans Pro', sans-serif; A Wittyd 
          </div>
        </div>
        
        <!-- "In a black SS, with the Navigation" -->
        <!-- Took out navbar-inner to kill styling.  
        TODO:  - Get rid of background on active and add carrot 
            - Figure out why icons aren't working -->
        <div class="navbar clearfix">
          <div class="navbar-inner">
              <ul class="nav">
                <li><a href="#"><i class="icon-globe"></i> Community</a></li>
                <li><a href="#"><i class="icon-pencil"></i> Contribute</a></li>
                <li><a href="#"><i class="icon-file"></i> Docs</a></li>
              </ul>
          </div>
        </div>
        
        <hr id="breaker">
      </div>
    </header>

    <!-- Content -->
    <div>
      {{{ content }}}
    </div>

    <hr id="breaker">
    
    <div style="display:none">
      <section class="selections">
        <h1>Selections</h1>
        <div class="date">
          <h3>August 12th, 2013<h3>
        </div>
        <div>
          <div class="span4">
              <h3>Mustefa Jo'shen</h3>
              <h2>Against the Grain</h2>
          </div>
          <div class="span6">
            Col2
          </div>
          <div class="span2">
            Col3
          </div>
        </div>
      </section>  
    </div>
  </div>



  <!-- /#container -->
  </div>
  </body>
</html>