<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Default font from Google Web Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

  {{{ assets }}}
</head>

<body>
  <div id="container">
    <!-- header used for all pages -->
    <header>
      <div class="row-fluid">

        <div class="span3">
          <div id="headline">
            <!-- TODO: use http://www.frequency-decoder.com/demo/slabText/ for header -->
            <div class="title">Ruhoh</div>
          </div>
        </div>

        <div class="span6" style="padding-top:40px; padding-right:50px">
          <div class="quote">
            font-family: 'Source Sans Pro', sans-serif; font-family: 'Source Sans Pro', sans-serif; font-family: 'Source Sans Pro', sans-serif; A Wittyd 
          </div>
        </div>

        <div class="span3">
          <div id="contacts">
            <div class="contact">
              <ul>
                <li>Github</li>
                <li>Twitter</li>
                <li>Mail</li>
                <li>Mail</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </header>

    <!-- "In a black SS, with the Navigation" -->
    <!-- Took out navbar-inner to kill styling.  
    TODO:  - Get rid of background on active and add carrot 
        - Figure out why icons aren't working -->
    
    
    <div class="navbar">
      <div class="navbar-inner">
          <ul class="nav">
            <li><a href="#"><i class="icon-globe"></i> Community</a></li>
            <li><a href="#"><i class="icon-pencil"></i> Contribute</a></li>
            <li><a href="#"><i class="icon-file"></i> Docs</a></li>
          </ul>
      </div>
    </div>
    
    <hr id="breaker">
    
    <!-- Content -->
    <div class="row-fluid">
      {{{ content }}}
    </div>

    <hr id="breaker">
    
    <div class="row-fluid">
      <section class="selections">
        <div class="span14">
          <h1>Selections</h1>
          <div class="date">
            <h3>August 12th, 2013<h3>
          </div>
          <div class="row-fluid">
            <div class="span4">
                <h3>Mustefa Jo'shen</h3>
                <h2>Against the Grain</h2>
            </div>
            <div class="span6">
              Col2
            </div>
            <div class="span2">
              Col3
            </div>
          </div>
        </div>
      </section>  
    </div>
  </div>



  <!-- /#container -->
  </div>
  </body>
</html>