---
layout : default
---

    <div id="meta-left" class="span3 meta">
      <h4>Categories</h4>
      <ul class="tag_box">
      {{# page.categories?to_categories }}
        {{> categories_list }}
      {{/ page.categories?to_categories }}
      </ul>
  
      <br>
      <h4>Tags</h4>
      <ul class="tag_box">
      {{# page.tags?to_tags }}
        {{> tags_list }}
      {{/ page.tags?to_tags }}
      </ul>
    </div>
    
    <div class="span6">
      <section class="about">
        <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
        <date class="date">Monday, September 5th, 2012 <!--{{ page.date }}--></date>
        {{{ content }}}
      </section>
    </div>
    
    <div id="meta-right" class="span3 meta">
      <h4>0 Comments</h4>
      
      <h4>You May Also Like</h4>
      
      
      <ul>
        {{# page?previous }}
          <li class="prev"><a href="{{ url }}" title="{{ title }}">&larr; Older</a></li>
        {{/ page?previous }}
        {{^ page?previous }}
          <li class="prev disabled"><a>&larr; Older</a></li>
        {{/ page?previous }}

          <li><a href="/archive">Archive</a></li>

        {{# page?next }}
          <li class="next"><a href="{{ url }}" title="{{ title }}">Newer &rarr;</a></li>
        {{/ page?next }}
        {{^ page?next }}
          <li class="next disabled"><a>Newer &rarr;</a>
        {{/ page?next }}
      </ul>
      
    </div>


    